button#new-task-btn {
  background-color: #635fc7;
  color: #ffffff;
  width: 164px;
  height: 48px;
  border: none;
  border-radius: 24px;
}


/*============
New Task Modal
==============*/

.new-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.new-modal-content {
  background: white;
  padding: 20px;
  width: 600px;
  height: 415px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hidden {
  display:none ;
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  font-size: 18px;
}

input#taskTitle {
  border-style: solid;
  border-color: #828da372;
  border-width: 1px;
  border-radius: 7px;
  height: 40px;
}

textarea#taskDescription {
  border-style: solid;
  border-color: #828da372;
  border-width: 1px;
  height: 113px;
  border-radius: 7px;
}

select#taskStatus {
  border-style: solid;
  border-color: #828da372;
  border-width: 1px;
  color: black;
  position: relative;
  height: 40px;
  border-radius: 7px;
}

label {
  color: #828fa3;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: bold;
}

span.close-btn {
  color: #ea5555;
  font-size: 35px;
}